#owl-demo .item img{
    display: block;
    width: auto;
    height: auto;
}

.owl-theme .owl-dots .owl-dot span{
    width:10px;
    height:10px;
    margin:0;
    background: #b71616 !important;
    display:block;
    -webkit-backface-visibility:visible;
    -webkit-transition:opacity 200ms ease;
    -moz-transition:opacity 200ms ease;
    -ms-transition:opacity 200ms ease;
    -o-transition:opacity 200ms ease;
    transition:opacity 200ms ease;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}